<section id="banner" data-blink-id="pvb1pxmp5cau7rq4c24yp" style="background-size: cover;background-position: center center;background-repeat: no-repeat;background-image: url(/jardin1.JPG);" >
 <div class="banner-text">
  <h2 class="description-header">Le jardin aquatique</h2>
 </div>
 <div class="dimmer"></div>
</section>

     <div class="container marketing">
      <div class="row">
        <div class="text-center">
          <h2 class="why">Ecole de natation pour les petits</h2>
        </div>
        <div class="col-lg-4">
          <div class="text-center"><i class="fas fa-swimming-pool"></i></div>
           <p class="text">
             L'activité jardin aquatique est destinée aux enfants, généralement
             entre 2 et 5 ans. Elle permet aux enfants de se familiariser à l'eau
             grâce à des activités ludiques. Il sera plus à l'aise dans l'eau.

            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="text-center"><i class="fas fa-smile-beam"></i></div>
          <p class="text">Il sera plus à l'aise dans l'eau. Il apprendra les bases des fondamentaux de la natation(propulsion,
          respiration,équilibre), mais toujours avec une approche ludique.
          L'apprentissage de la nataion sera plus facile pour des enfants habitués
          à être dans l'eau.
          </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="text-center"><i class="fab fa-gratipay"></i></div>
          <p class="text">De plus comme dans toute activité de groupe,
          votre petit apprendra à évoluer avec d'autres enfants, à jouer
          avec eux, à suivre des consignes.

          </p>
        </div><!-- /.col-lg-4 -->
        <hr>
      </div><!-- /.row -->
</div>
 <section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-md-offset-4 col-md-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <% @jardins.each do | jardin | %>
            <h5 class="card-title text-muted text-uppercase text-center"><%= jardin.title%></h5>
             <h6 class="card-price text-center"><%=  jardin.price%> €<span class="period"><br>+  20 € de frais d'adhésion annuelle</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=  jardin.nbpers %> Personne (s) maxi/ séance</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=  jardin.nbseance %> cours/semaine </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=  jardin.periode %> </li>
               <li><span class="fa-li"><i class="fas fa-check"></i></span><%=  jardin.duree %> minutes</li>

             </ul>
            <h4><%= button_to "Reservez maintenant",  jardin_path( jardin), :class => "btn btn-block btn-primary text-uppercase", :method => :get %></h4>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
