<section id="banner" data-blink-id="pvb1pxmp5cau7rq4c24yp" style="background-size: cover;background-position: center center;background-repeat: no-repeat;background-image: url(/natation_adultes.jpeg);" >
 <div class="banner-text">
  <h2 class="description-header">Static Swim</h2>
 </div>
 <div class="dimmer"></div>
</section>

     <div class="container marketing">
      <div class="row">
        <div class="text-center">
          <h2 class="why">Pourquoi faire du staticswim ?</h2>
        </div>
        <div class="text-center">
          <div class="text-center"><i class="fas fa-swimming-pool"></i></div>
           <p class="text">L’aquabike est le sport idéal si vous avez les articulations
             fragiles et plus particulièrement les genoux et si vous êtes en surpoids.
             Lorsque vous êtes dans l’eau, votre corps est en quasi-apesanteur
            et vous ne ressentez qu’un tiers de votre poids terrestre.
             Les risques de blessures et de chutes sont donc nuls.</p>
        </div><!-- /.col-lg-4 -->

        <hr>
      </div><!-- /.row -->
</div>
 <section class="pricing py-5">
  <div class="container">
    <div class="row">
      <% @staticswims.each do | staticswim | %>
      <div class="col-md-3">
      <div class="card mb-5 mb-lg-0">
        <div class="card-body">
          <h5 class="card-title text-muted text-uppercase text-center"><%= staticswim.title%></h5>
           <h6 class="card-price text-center"><%= staticswim.price%> € <span class="period"> <br> +  20 € de frais d'adhésion annuelle</span></h6>
          <hr>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-check"></i></span><%= staticswim.nbpers %> Personne(s)</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span><%= staticswim.nbseance %> cours/semaine </li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span><%= staticswim.periode %> </li>
             <li><span class="fa-li"><i class="fas fa-check"></i></span><%= staticswim.duree %> minutes</li>
           </ul>
          <h4><%= button_to "Choisissez- moi ! ", staticswim_path(staticswim), :class => "btn btn-block btn-primary text-uppercase", :method => :get %></h4>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</section>
