<section id="banner_charges" data-blink-id="pvb1pxmp5cau7rq4c24yp" style="background-size: cover;background-position: center center;background-repeat: no-repeat;background-image: url(/piscine.jpg);" >
  <main class="resa">
    <div class="container">
      <div class="row" id="content_page_index">
        <div class="col-lg-12 col-sm-12 col-xs-12" id="content_page_show">
          <div class="text-center">
            <h3 class="title_résa-index">Pour faire une réservation choisissez une date et un créneau</h3>
          </div>

          <h1 class="msg_flash"><%= flash[:danger ]%></h1>
          <div class="row">
            <div class="row margin-top">
              <%= week_calendar number_of_weeks: 1 do |date| %>
                <%= date.day %>
                <% next if date < Time.now.yesterday %>
                <% Reservationgym.list_events[date.wday]&.each do |meeting| %>
                  <div class="margin-top">
                    <% next if SelectedResa.where(user_id: current_user.id, resource_id: @aquagym.id).where("date = ? AND title = ?",  DateTime.parse(date.to_s), meeting).count >= @aquagym.nbpers%>
                    <%= link_to selected_resa_index_path(resource_id: @aquagym.id, date: date, title: meeting, resource_name: 'Reservationgym', resource_type: 'aquagym_id', resa_url: aquagym_path(@aquagym)), method: :post, remote: true do  %>
                      <button type="button" class="btn btn-primary">
                        <%= meeting %>
                      </button>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div id="selected_resa">
              <%= render partial: 'selected_resa/selected_resa', locals: {resource_name: 'Reservationgym', resource_type: 'aquagym_id', resa_url: aquagym_path(@aquagym)} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
