<section id="banner" data-blink-id="pvb1pxmp5cau7rq4c24yp" style="background-size: cover;background-position: center center;background-repeat: no-repeat;background-image: url(/imagejbjs.jpg);" >
 <div class="banner-text">
  <h2 class="description-header">Ecole de natation</h2>
 </div>
 <div class="dimmer"></div>
</section>

     <div class="container marketing">
      <div class="row">
        <div class="text-center">
          <h2 class="why">Ecole de natation </h2>
        </div>
        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="text-center"><i class="fas fa-swimming-pool"></i></div>
           <p class="text">

            Pour les enfabts, l'âge idéal pour apprendre à nager(techniques) se situe vers 6 ret 7 ans.
            Puis au fur et à mesure, on perfectionne ces techniques pour connaitre les quatre nages.
          </p>
        </div><!-- /.col-lg-4 -->


        <hr>
      </div><!-- /.row -->
</div>
 <section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <% @ecoles.each do |ecole | %>
            <h5 class="card-title text-muted text-uppercase text-center"><%=  ecole.title%></h5>
             <h6 class="card-price text-center"><%=   ecole.price%> €<span class="period">/La séance</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=   ecole.nbpers %> Personne (s) maxi</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=   ecole.nbseance %> cours/semaine </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=   ecole.periode %> </li>
               <li><span class="fa-li"><i class="fas fa-check"></i></span><%=   ecole.duree %> minutes</li>

             </ul>
            <h4><%= button_to "Reservez maintenant",  ecole_path( ecole), :class => "btn btn-block btn-primary text-uppercase", :method => :get %></h4>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
