<section id="banner" data-blink-id="pvb1pxmp5cau7rq4c24yp" style="background-size: cover;background-position: center center;background-repeat: no-repeat;background-image: url(/men.jpg);" >
 <div class="banner-text">
  <h2 class="description-header">Natation adulte</h2>
 </div>
 <div class="dimmer"></div>
</section>

     <div class="container marketing">
      <div class="row">
        <div class="text-center">
          <h2 class="why">Pourquoi faire de la nage en tant qu'adulte?</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="text-center"><i class="fas fa-swimming-pool"></i></div>
           <p class="text">
             Que ce soit pour l'apprentissage ou le perfectionnement,
              il n'est jamais trop tard pour prendre des cours de natation.
              Pas toujours facile d'admettre qu'on ne sait pas nager à l'âge adulte.
              Peur du ridicul, peur de l'eau, manque de confiance, les raisons sont
              multiples. Les cours de natation pour adultes spécialement adaptés à leurs
              besoins et ne demandent aucun niveau pré requis.
           </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="text-center"><i class="fas fa-smile-beam"></i></div>
          <p class="text">
            Les cours particuliers : Le maître nageur  prend en compte vos attentes et vos besoins
             ,<br> vous pouvez aborder les points que vous souhaitez. Vous évoluez à votre rythme,
             puisse que le maître nageur n'est là
             que pour vous et vous recevez des conseils précises sur votre technique de natation.
             Vous êtes obligé de respecter les consignes car le maître vous observe, et cela vous fait progresser ! <br>
             Grâce à des cours de natations particuliers et personnalisés, vous avez la possibilité de progresser plus vite.
          </p>
        </div><!-- /.col-lg-4 -->
        <hr>
      </div><!-- /.row -->
</div>
 <section class="pricing py-5">
  <div class="container">
    <div class="row">
      <% @adultes.each do | adulte | %>
      <div class="col-md-offset-4 col-md-4">
      <div class="card mb-5 mb-lg-0">
        <div class="card-body">
          <h5 class="card-title text-muted text-uppercase text-center"><%= adulte.title%></h5>
           <h6 class="card-price text-center"><%= adulte.price%> € <span class="period"><br>+  20 € de frais d'adhésion annuelle</span></h6>
          <hr>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-check"></i></span><%= adulte.nbpers %> Personne(s)/ séance</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span><%= adulte.nbseance %> cours/semaine </li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span><%= adulte.periode %> </li>
             <li><span class="fa-li"><i class="fas fa-check"></i></span><%= adulte.duree %> minutes</li>
           </ul>
          <h4><%= button_to "Choisissez- moi ! ", adulte_path(adulte), :class => "btn btn-block btn-primary text-uppercase", :method => :get %></h4>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</section>
