<article class="pricing py-5" id="banner" data-blink-id="pvb1pxmp5cau7rq4c24yp" style="background-size: cover;background-position: center center;background-repeat: ; height:700px; margin-bottom: 10px: no-repeat;background-image: url(/AQUAGYM.jpg);">
  <div class="container">
    <div class="row">
    <div class=" col-lg-offset-4 col-lg-4 col-sm-6 col-sm-offset-3 col-xs-12" id="content_page_show">
      <h3>Voici la formule que vous avec choisit</h3>
      <div class="card mb-5 mb-lg-0">
        <div class="card-body">
           <h5 class="card-title text-muted text-uppercase text-center"><%= @nagesynchro.title%></h5>
           <h6 class="card-price text-center"><%= @nagesynchro.price%> €<span class="period">/La séance <br>+  20 € de frais d'adhésion annuelle</span></h6>
          <hr>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-check"></i></span><%= @nagesynchro.nbpers %> Personne (s) maxi</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span><%= @nagesynchro.nbseance %> cours </li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span><%= @nagesynchro.periode %>  </li>
             <li><span class="fa-li"><i class="fas fa-check"></i></span><%= @nagesynchro.duree %> minutes</li>
           </ul>
           <%= link_to 'Faire une réservation', new_reservationsynchro_path(nagesynchro_id: @nagesynchro.id), class: "btn btn-primary navbar-btn", id: "btn_car_show"%>
        </div>
       </div>
    </div>
  </div>
</div>
</article>
