<section id="banner" data-blink-id="pvb1pxmp5cau7rq4c24yp" style="background-size: cover;background-position: center center;background-repeat: no-repeat;background-image: url(/enfantbulle.JPG);">
 <div class="banner-text">
  <h2 class="description-header">Apprendre à nager doit être un plaisir</h2>
 </div>
 <div class="dimmer"></div>
</section>

<div class="container">
  <div class="row">
    <div class="text-center">
      <h3 class="activite">Notre Mission </h3>
      <p class="mission">"Développer des nageurs de niveau compétitif et récréatif, <br>
         en bassin et en eau libre, tout en respectant les objectifs <br>
         et les habiletés de chacun, et ce, dans le plaisir et le bien-être. <br>
         L'apprentissage de la natation ainsi que les saines habitudes de vie <br>
         se font par l'enseignement de la technique et de la pratique tout en <br>
         favorisant la discipline et la détermination." <br> Lahcen Sabari, fondateur du club</p>
    </div>
  </div>
</div>

<div class="container-fluid"  id="backkgroud_carousel">
<div class="col-xs-12" >
  <div class="text-center">
    <h3 class="activite">Nos cours de natation</h3>
  </div>
    <div class="carousel slide" id="myCarousel">

      <nav>
       <ul class="control-box pager">
         <li><a data-slide="prev" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
         <li><a data-slide="next" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
       </ul>
     </nav>
        <div class="carousel-inner">
            <div class="item active">
            <ul class="thumbnails">
            <li class="col-sm-3">
    					<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="/bébé_nageur1.JPG"  class="img-responsive" style="border-radius: 8px;"></a>
								</div>
								<div class="caption">
									<h4>Bébés nageurs</h4>
                  <p><%= link_to "Voir plus  ", nagepetits_path %></p>

								</div>
              </div>
            </li>

            <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
									<a href="#"><img src="/ecolenat.JPG" class="img-responsive" style="border-radius: 8px;"></a>
								</div>
								<div class="caption">
									<h4>Ecole de natation</h4>
									<p><%= link_to "Voir plus  ", nagepetits_path %></p>
								</div>
              </div>
            </li>

            <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
                  <a href="#"><img src="/men.jpg" class="img-responsive" style="border-radius: 8px;"></a>
								</div>
								<div class="caption">
									<h4>Nage adulte</h4>
									<p><%= link_to "Voir plus  ", adultes_path %></p>
								</div>
              </div>
            </li>

            <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
                  <a href="#"><img src="/AQUAGYM.jpg" class="img-responsive" style="border-radius: 8px;"></a>
								</div>
								<div class="caption">
									<h4>Aquagym</h4>
										<p><%= link_to "Voir plus  ", aquagyms_path %></p>
								</div>
              </div>
                        </li>
                    </ul>
              </div><!-- /Slide1 -->
            <div class="item">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
                  <a href="#"><img src="/water-polo.jpg" class="img-responsive" style="border-radius: 8px;"></a>
								</div>
								<div class="caption">
									<h4>Water-polo</h4>
                  <p><%= link_to "Voir plus  ", polos_path %></p>
								</div>
              </div>
                        </li>
                        <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
                  <a href="#"><img src="/aquapalming.jpg" class="img-responsive" style="border-radius: 8px;"></a>
								</div>
                <div class="caption">
									<h4>Nage avec palmes</h4>
										<p><%= link_to "Voir plus  ", palmes_path %></p>
								</div>
              </div>
                        </li>
                        <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
                  <a href="#"><img src="/aquabike.jpg" class="img-responsive" style="border-radius: 8px;min-height:120px;max-height:200px;"></a>
								</div>
								<div class="caption">
									<h4>Aquabike</h4>
									<p><%= link_to "Voir plus  ", aquabikes_path %></p>
								</div>
              </div>
                        </li>
            <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
                  <a href="#"><img src="/aquaboxing.jpg" class="img-responsive" style="border-radius: 8px;min-height:120px;max-height:200px;"></a>
								</div>
								<div class="caption">
									<h4>Aquaboxing</h4>
									<p><%= link_to "Voir plus  ", aquaboxings_path %></p>
								</div>
              </div>
            </li>
          </ul>

              </div><!-- /Slide2 -->
            <div class="item">
                    <ul class="thumbnails">
                        <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
                  <a href="#"><img src="/jardin1.JPG" class="img-responsive" style="border-radius: 8px;min-height:120px;max-height:200px;"></a>
								</div>
								<div class="caption">
									<h4>Jardin aquatique</h4>
									<p><%= link_to "Voir plus  ",jardins_path %></p>
								</div>
              </div>
            </li>
            <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
                  <a href="#"><img src="/synchro.jpg" class="img-responsive" style="border-radius: 8px;min-height:120px;max-height:200px;"></a>
								</div>
								<div class="caption">
									<h4>Natation synchronisée</h4>
                  <p><%= link_to "Voir plus  ",nagesynchros_path %></p>
								</div>
              </div>
                        </li>
                        <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
                  <a href="#"><img src="/groupe.JPG" class="img-responsive" style="border-radius: 8px;min-height:120px;max-height:200px;"></a>
								</div>
								<div class="caption">
									<h4>Aquaparcours</h4>
                  <p><%= link_to "Voir plus  ",aquaparcours_path %></p>
								</div>
              </div>
                        </li>
                        <li class="col-sm-3">
							<div class="fff">
								<div class="thumbnail">
                  <a href="#"><img src="/natation_adultes.jpeg" class="img-responsive" style="border-radius: 8px;min-height:120px;max-height:200px;"></a>
								</div>
								<div class="caption">
									<h4>Praesent commodo</h4>
									<p>Nullam Condimentum Nibh Etiam Sem</p>
								</div>
              </div>
                        </li>
                    </ul>
              </div><!-- /Slide3 -->
        </div>
	   <!-- /.control-box -->

    </div><!-- /#myCarousel -->

</div><!-- /.col-xs-12 -->

</div><!-- /.container -->

<div class="container marketing">
    <div class="row">
      <div class="text-center">
        <h3 class="temoin">Nos témoignages</h3>
      </div>
          <div class="col-lg-4">
            <img class="rounded-circle" src="/saut_enfant.JPG" alt="Generic placeholder image" width="140" height="140">
            <h2>Drimitri, 7 ans</h2>
            <p>" Nager est un sport de j'aime vraiment beaucoup et le prof est super drôle"</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
</div>

<script>
Carousel Auto-Cycle
$(document).ready(function() {
 $('.carousel').carousel({
   interval: 6000
 })
});
</script>
