<section id="banner" data-blink-id="pvb1pxmp5cau7rq4c24yp" style="background-size: cover;background-position: center center;background-repeat: no-repeat;background-image: url(/bébé.JPG);" >
 <div class="banner-text">
  <h2 class="description-header">Bébes nageurs</h2>
 </div>
 <div class="dimmer"></div>
</section>

     <div class="container marketing">
      <div class="row">
        <div class="text-center">
          <h2 class="why">Ecole de natation pour les petits</h2>
        </div>
        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="text-center"><i class="fas fa-swimming-pool"></i></div>
           <p class="text">Contrairement à ce que son nom indique, une séance bébé nageur
             n'apprendra pas à nager à votre enfant. En revanche, elle lui permettra
             de se sentir à l'aise dans le milieu aquatique, de ne pas craindre
             les éclaboussures vore de ne plus hésiter à mettre la tête dans l'eau.
           </p>
        </div><!-- /.col-lg-4 -->


        <hr>
      </div><!-- /.row -->
</div>
 <section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-md-offset-4 col-md-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <% @nagepetits.each do | nagepetit | %>
            <h5 class="card-title text-muted text-uppercase text-center"><%= nagepetit.title%></h5>
             <h6 class="card-price text-center"><%=  nagepetit.price%> €<span class="period">/La séance</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=  nagepetit.nbpers %> Personne (s) maxi</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=  nagepetit.nbseance %> cours </li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><%=  nagepetit.periode %> </li>
               <li><span class="fa-li"><i class="fas fa-check"></i></span><%=  nagepetit.duree %> minutes</li>

             </ul>
            <h4><%= button_to "Reservez maintenant",  nagepetit_path( nagepetit), :class => "btn btn-block btn-primary text-uppercase", :method => :get %></h4>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
