<main class="resa">
  <div class="container">
  <div class="row" id="content_page_index">
    <div class=" col-lg-offset-3 col-lg-6 col-sm-6 col-sm-offset-3 col-xs-12" id="content_page_show">
    <div class="text-center">
      <h3 class="title_résa-index">Inscrivez-vous pour adhérer à l'association du club</h3>
    </div>
      <%= form_for @adhesion do |f | %>
        <div class="col-md-12 ">
          <label for="">choisissez une date</label>
          <%= f.text_field :name, placeholder: 'ex :Dimiti payet',  class: "form-control"  %>
      </div>
      <div class="col-md-12 ">
        <label for="">Entrez votre date de naissance</label>
        <%= f.text_field :date, placeholder: 'ex :1 Décembre 1983',  class: "form-control"  %>
      </div>
      <div class="col-md-12 ">
        <label for="">Entrez votre numero de téléphone</label>
        <%= f.text_field :phone, placeholder: 'ex 0692 12 33 44',  class: "form-control"  %>
      </div>
      <div class="col-md-12 ">
        <label for="">Entrez votre email</label>
        <%= f.text_field :email, placeholder: 'ex :1 Décembre 1983',  class: "form-control"  %>
      </div>
      <div class="col-md-12 ">
        <label for="">Entrez votre adresse</label>
        <%= f.text_field :adresse, placeholder: 'ex :15 rue de chat saint pierre 97410',  class: "form-control"  %>
      </div>

            <div class="text-center">
              <%= f.submit 'Validez votre adhésion', :class => "btn btn-primary navbar-btn"%>
            </div>
      <% end %>
    </div>
  </div>
</div>
</main>
