<div data-blink-id="pvb1pxmp5cau7rq4c24yp" >
  <div class="row">
    <%= form_tag charges_path do | f | %>
      <div class="row">
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
        <%= hidden_field_tag :amount,  resource.price.to_f*100 %>
        <%= hidden_field_tag :resource_id,  resource.id %>
        <%= hidden_field_tag :resa_type,  resa_type %>
        <%= hidden_field_tag :resource_name, resource.class.name.downcase %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-label="Payez avec votre carte bleue"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Swimnatation"
          data-amount="<%= resource.price.to_f*100 %>"
          data-currency ="eur"
          data-locale="auto">
        </script>
      </div>
    <% end %>
  </div>
</div>
