<h1>Charges#create</h1>
<p>Find me in app/views/charges/create.html.erb</p>

<h2>Thanks, you paid <strong><</strong>!</h2>
<div class="container">
 <div class="row">
   <% if @reservation %>
  <div class="col-lg-4 col-md-offset-4 col-md-4 col-xs-12" id="zone_merci">
  <h3 class="text_systeme">Merci pour votre paiement <strong><%= @reservation.price %></strong> euros! <br/>
     <% elsif  @reservationgym %>
     <div class="col-lg-4 col-md-offset-4 col-md-4 col-xs-12" id="zone_merci">
     <h3 class="text_systeme">Merci pour votre paiement <strong><%= @reservationgym.price %></strong> euros! <br/>
     <% elsif  @reservationpalme %>
     <div class="col-lg-4 col-md-offset-4 col-md-4 col-xs-12" id="zone_merci">
     <h3 class="text_systeme">Merci pour votre paiement <strong><%= @reservationpalme.price %></strong> euros! <br/>
      <% elsif  @reservationstatic %>
      <div class="col-lg-4 col-md-offset-4 col-md-4 col-xs-12" id="zone_merci">
      <h3 class="text_systeme">Merci pour votre paiement <strong><%= @reservationstatic.price %></strong> euros! <br/>
    <% elsif  @reservationcour %>
    <div class="col-lg-4 col-md-offset-4 col-md-4 col-xs-12" id="zone_merci">
    <h3 class="text_systeme">Merci pour votre paiement <strong><%= @reservationcour.price %></strong> euros! <br/>
      <% elsif  @reservationjard %>
      <div class="col-lg-4 col-md-offset-4 col-md-4 col-xs-12" id="zone_merci">
      <h3 class="text_systeme">Merci pour votre paiement <strong><%= @reservationjard.price %></strong> euros! <br/>
    <% elsif  @reservationad %>
    <div class="col-lg-4 col-md-offset-4 col-md-4 col-xs-12" id="zone_merci">
    <h3 class="text_systeme">Merci pour votre paiement <strong><%= @reservationad.price %></strong> euros! <br/>
    <% elsif  @reservationpetit %>
    <div class="col-lg-4 col-md-offset-4 col-md-4 col-xs-12" id="zone_merci">
    <h3 class="text_systeme">Merci pour votre paiement <strong><%= @reservationpetit.price %></strong> euros! <br/>
     <% else %>
     <div class="col-lg-4 col-md-offset-4 col-md-4 col-xs-12" id="zone_merci">
     <h3 class="text_systeme">Merci pour votre paiement <strong><%= @reservationad.price %></strong> euros! <br/>
  <% end %>

   </h3>
  </div>
 </div>
</div>
