<footer class="footer">
 <div class="container bottom_border">
  <div class="row">
    <div class=" col-sm-3 col-md  col-6 col">
     <div class="text-center">
      <h5 class="headin5_amrc col_white_amrc pt2">Ecole de natation</h5>
      <ul class="footer_ul_amrc">
        <li><%= link_to "Ecole de natation 6-8 ans", nagepetits_path %></li>
        <li><%= link_to "Jardin aquatique", jardins_path %></li>
        <li><%= link_to "Ecole de adulte",  adultes_path %></li>
        <li><%= link_to "L'aquaphobie",  pages_aquaphobie_path %></li>
      </ul>
     </div>
    </div>

    <div class=" col-sm-3 col-md  col-6 col">
      <div class="text-center">
        <h5 class="headin5_amrc col_white_amrc pt2">Ecole de natation</h5>
        <ul class="footer_ul_amrc">
          <li><%= link_to "Ecole de natation 6-8 ans", nagepetits_path %></li>
          <li><%= link_to "Ecole de natation 9-12 ans", nagepetits_path %></li>
          <li><%= link_to "Ecole de adulte",  nagepetits_path %></li>
        <li><a href="http://kalarikendramdelhi.com">Hair Masking/Clipping</a></li>
        <li><a href="http://kalarikendramdelhi.com">Image Cropping</a></li>
        </ul>
      </div>
    </div>

    <div class=" col-sm-3 col-md  col-6 col ">
      <div class="text-center">
      <h5 class="headin5_amrc col_white_amrc pt2">Aquabike</h5>
      <ul class="footer_ul_amrc">
       <li><%= link_to "AquaGym ", aquagyms_path %></li>
       <li><%= link_to "Aquaboxing", aquaboxings_path %></li>
       <li><%= link_to "Aquabike ",  aquabikes_path %></li>
       <li><%= link_to "Aquaparcours ", aquaparcours_path %></li>
      </ul>
      </div>
    </div>


    <div class=" col-sm-3 col-md  col-6 col col-xs-12">
     <div class="text-center">
      <h5 class="headin5_amrc col_white_amrc pt2">Nous suivre sur les reséaux sociaux</h5>
      <div class=" col-sm-3 col-md  col-6 col">
        <div class="text-center">
        <li class="social_footer"><a href="https://www.facebook.com/swim.natation" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
       </div>
      </div>

      <div class=" col-sm-3 col-md  col-6 col">
       <div class="text-center">
        <li class="social_footer"><a href="https://www.instagram.com/swimnatation/" target="_blank"><i class="fab fa-instagram"></i></a></li>
       </div>
      </div>

      </div>
    </div>

  </div>
  </div>
  <br><br><br>


  <div class="container">
      <p class="text-center">Copyright @2018 | Coder by <a href="https://twitter.com/jrkinouani"  class="by" target="_blank"> <i class="fa fa-chevron-left" aria-hidden="true" id="icon_footer"> </i> Ruby on rails <i class="fa fa-chevron-right" aria-hidden="true" id="icon_footer"></i> avec <i class="fa fa-heart" aria-hidden="true" id="icon_footer"></i> par jrkinouani - l'île de la reunion</a>
</p>
 </div>
</footer>
